body{
    background-color: black;
}
.img3{
    width: 150px;
}
.div1{
    color: white;
    font-family: monospace;
    font-size: 17px;
    margin-left: 850px;
    margin-top: -120px;
    background-color: black;
    position: fixed;
}
.A{
    color: white;
    font-size: 17px;
}
.box{
    box-shadow: 1px 2px 3px 50px rgb(153, 125, 53) inset;
    padding: 15px;
}
.A:hover{
    box-shadow: 1px 2px 3px 50px rgb(153, 125, 53) inset;
    padding: 15px;
}
.box:hover{
    box-shadow: 1px 1px 6px 4px rgb(153, 125, 53) inset;
    padding: 25px;
    transition: 1000mss;
    scale: 1.25;
}
.b1,.b2,.b3,.b4,.b5{
    color: white;
}
.b1:hover,.b2:hover,.b3:hover,.b4:hover,.b5:hover{
    color: rgb(161, 124, 29);
}
.b{
    padding: 15px;
}
.para{
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 230px;
    font-family: "Rye", serif;
    line-height: 70px;
}
a{
    text-decoration: none;
}
.p1{
    color: white;
}
.img{
    width: 150px;
    margin-left: 100px;
}
.para7{
    font-family: "Rye", serif;
    font-size: 40px;
    color: white;
    margin-left: 280px;
    margin-top: -120px;
}
.a1,.a2,.a3,.a4,.a5{
    color: white;
}
.a1:hover,.a2:hover,.a3:hover,.a4:hover,.a5:hover{
    color: rgb(161, 124, 29);
}
.div2{
    color: white;
    font-family: monospace;
    font-size: 15px;
    margin-left: 310px;
    margin-top: -20px;
    word-spacing: 6px;
}
.img{
    width: 150px;
    margin-left: 100px;
}
.para7{
    font-family: "Rye", serif;
    font-size: 40px;
    color: white;
    margin-left: 280px;
    margin-top: -120px;
}
.a1,.a2,.a3,.a4,.a5{
    color: white;
}
.a1:hover,.a2:hover,.a3:hover,.a4:hover,.a5:hover{
    color: rgb(161, 124, 29);
}
.div2{
    color: white;
    font-family: monospace;
    font-size: 15px;
    margin-left: 310px;
    margin-top: -20px;
    word-spacing: 6px;
}
.img2{
    width: 180px;
    margin-left: 1100px;
    margin-top: -250px;
}
.A1,.A3,.A4{
    color: rgb(176, 142, 58);
}
.A1:hover,.A3:hover,.A4:hover{
    color: rgb(161, 124, 29);
}
.A2{
    margin-left: 1150px;
    word-spacing: 15px;
    font-size: 20px;
    line-height: 40px;
    margin-top: -10px;
}
.b6{
    margin-left: 20px;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}
.b6:hover{
    color: rgb(161, 124, 29);
}
.para8{
    color: white;
    font-family: monospace;
    font-size: 17px;
    margin-left: 100px;
    font-weight: bold;
    word-spacing: -5px;
}
.B1:hover,.B2:hover{
    color: rgb(161, 124, 29);
}
.bold{
    margin-left: 500px;
}
.bold:hover{
    color: rgb(161, 124, 29);
}
form{
    margin-left: 600px;
    margin-top: 40px;
    }
    button{
    margin-top: 20px;
    margin-left: 170px;
    width: 100px;
    background-color: blue;
    }
    input{
        margin-left: 50px;
    }
    .date{
        margin-left: 95px;
    }
    .mail{
        margin-left: 85px;
    }
    .no{
        margin-left: 60px;
    }
    .cbox{
        margin-left: -10px;
        width: 40px;
        color: green;
    }
    .icon{
        font-size: 60px;
        margin-left: 640px;
        text-shadow: 2px 3px 4px gray;
        color: wheat;
        margin-top: 25px;
    }
    form{
        box-shadow: 2px 3px 4px 5px gray;
        border-radius: 10px;
        width: 500px;
        padding-top: 40px;
        padding-left: 50px;
        padding-bottom: 20px;
        margin-left: 550px;
        color: wheat;
        
    }
    .btn{
        color: wheat;
        background-color:gray;
    }
    