body{
    background-color: black;
}
.img3{
    width: 150px;
}
.div1{
    color: white;
    font-family: monospace;
    font-size: 17px;
    margin-left: 850px;
    margin-top: -120px;
    background-color: black;
    position: fixed;
}
.A{
    color: white;
    font-size: 17px;
}
.box{
    box-shadow: 1px 2px 3px 50px rgb(153, 125, 53) inset;
    padding: 15px;
}
.Box:hover{
    box-shadow: 0px 0px 0px 2px rgb(153, 125, 53) inset;
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 25px;
}
.b1,.b2,.b3,.b4,.b5{
    color: white;
}
.b1:hover,.b2:hover,.b3:hover,.b4:hover,.b5:hover{
    color: rgb(161, 124, 29);
}
.b{
    padding: 15px;
}
.para{
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 230px;
    font-family: "Rye", serif;
    line-height: 70px;
}
a{
    text-decoration: none;
}
.p1{
    color: white;
}
.img{
    width: 150px;
    margin-left: 100px;
}
.para7{
    font-family: "Rye", serif;
    font-size: 40px;
    color: white;
    margin-left: 280px;
    margin-top: -120px;
}
.a1,.a2,.a3,.a4,.a5{
    color: white;
}
.a1:hover,.a2:hover,.a3:hover,.a4:hover,.a5:hover{
    color: rgb(161, 124, 29);
}
.div2{
    color: white;
    font-family: monospace;
    font-size: 15px;
    margin-left: 310px;
    margin-top: -20px;
    word-spacing: 6px;
}
.img{
    width: 150px;
    margin-left: 100px;
}
.para7{
    font-family: "Rye", serif;
    font-size: 40px;
    color: white;
    margin-left: 280px;
    margin-top: -120px;
}
.a1,.a2,.a3,.a4,.a5{
    color: white;
}
.a1:hover,.a2:hover,.a3:hover,.a4:hover,.a5:hover{
    color: rgb(161, 124, 29);
}
.div2{
    color: white;
    font-family: monospace;
    font-size: 15px;
    margin-left: 310px;
    margin-top: -20px;
    word-spacing: 6px;
}
.img2{
    width: 180px;
    margin-left: 1100px;
    margin-top: -250px;
}
.A1,.A3,.A4{
    color: rgb(176, 142, 58);
}
.A1:hover,.A3:hover,.A4:hover{
    color: rgb(161, 124, 29);
}
.icon7{
    color: rgb(176, 142, 58);
}
.icon7:hover{
    color: rgb(161, 124, 29);
}
.A2{
    margin-left: 1150px;
    word-spacing: 15px;
    font-size: 20px;
    line-height: 40px;
    margin-top: -10px;
}
.b6{
    margin-left: 20px;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}
.b6:hover{
    color: rgb(161, 124, 29);
}
.para8{
    color: white;
    font-family: monospace;
    font-size: 17px;
    margin-left: 100px;
    font-weight: bold;
    word-spacing: -5px;
}
.B1:hover,.B2:hover{
    color: rgb(161, 124, 29);
}
.bold{
    margin-left: 500px;
}
.bold:hover{
    color: rgb(161, 124, 29);
}
.para{
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: -460px;
    font-family: "Rye", serif;
    line-height: 70px;
    opacity: 0.9;
}
.imgg{
    width: 100%;
    opacity: 0.8;
}
.Para{
    font-size: 65px;
    color: white;
    text-align: center;
    font-family: "Rye", serif;
    line-height: 70px;
    opacity: 0.9;
    text-transform: uppercase;
    text-align: justify;
    margin-left: 250px;
    margin-top: -330px;
}
.imgg1{
    margin-top: 400px;
    margin-left: 700px;
}
.Para1,.Para2{
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-left: 260px;
}
.Para1{
    margin-top: 150px;
}
.AA{
    color: rgb(161, 124, 29);
    text-decoration: none;
}
.Para4{
    font-family: "Finger Paint", sans-serif;
    font-size: 25px;
    color: rgb(173, 141, 61);
    letter-spacing: -2px;
    line-height: 25px;
    text-align: center;
    padding-top: 20px;
}
.Div{
    margin-left: 830px;
    margin-top: -200px;
    box-shadow: 0px 0px 0px 2px rgb(8, 8, 8) inset;
    width: 500px;
    height: 200px;
}
.Div:hover{
    box-shadow: 0px 0px 0px 2px rgb(161, 124, 29) inset;
    width: 500px;
    height: 200px;
}
.Para5{
    color: white;
    font-size: 17px;
    margin-left: 90px;
}
.A1{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
.box1{
    box-shadow: 1px 2px 3px 50px rgb(153, 125, 53) inset;
    padding: 15px;
    margin-left: 150px;
}
.Para9,.Para10{
    font-family: "Rye", serif;
    color: white;
    text-transform: uppercase;
    margin-left: 530px;
}
.Para9{
    font-size: 50px;
}
.Para10{
    margin-top: -50px;
    font-size: 80px;
}
.Div5{
    background-image: url('photorealistic-wedding-venue-with-intricate-decor-ornaments.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 500px;
    padding-top: 20px;
    margin-top: 100px;
}