body{
    background-color: black;
}
.img3{
    width: 150px;
}
.div1{
    color: white;
    font-family: monospace;
    font-size: 17px;
    margin-left: 850px;
    margin-top: -120px;
    background-color: black;
    position: fixed;
}
.A{
    color: white;
    font-size: 17px;
}
.box{
    box-shadow: 1px 2px 3px 50px rgb(153, 125, 53) inset;
    padding: 15px;
}
.Box:hover{
    box-shadow: 0px 0px 0px 2px rgb(153, 125, 53) inset;
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 25px;
}
.b1,.b2,.b3,.b4,.b5{
    color: white;
}
.b1:hover,.b2:hover,.b3:hover,.b4:hover,.b5:hover{
    color: rgb(161, 124, 29);
}
.b{
    padding: 15px;
}
.para{
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 230px;
    font-family: "Rye", serif;
    line-height: 70px;
}
a{
    text-decoration: none;
}
.p1{
    color: white;
}
.img{
    width: 150px;
    margin-left: 100px;
}
.para7{
    font-family: "Rye", serif;
    font-size: 40px;
    color: white;
    margin-left: 280px;
    margin-top: -120px;
}
.a1,.a2,.a3,.a4,.a5{
    color: white;
}
.a1:hover,.a2:hover,.a3:hover,.a4:hover,.a5:hover{
    color: rgb(161, 124, 29);
}
.div2{
    color: white;
    font-family: monospace;
    font-size: 15px;
    margin-left: 310px;
    margin-top: -20px;
    word-spacing: 6px;
}
.img{
    width: 150px;
    margin-left: 100px;
}
.para7{
    font-family: "Rye", serif;
    font-size: 40px;
    color: white;
    margin-left: 280px;
    margin-top: -120px;
}
.a1,.a2,.a3,.a4,.a5{
    color: white;
}
.a1:hover,.a2:hover,.a3:hover,.a4:hover,.a5:hover{
    color: rgb(161, 124, 29);
}
.div2{
    color: white;
    font-family: monospace;
    font-size: 15px;
    margin-left: 310px;
    margin-top: -20px;
    word-spacing: 6px;
}
.img2{
    width: 180px;
    margin-left: 1100px;
    margin-top: -250px;
}
.A1,.A3,.A4{
    color: rgb(176, 142, 58);
}
.A1:hover,.A3:hover,.A4:hover{
    color: rgb(161, 124, 29);
}
.A2{
    margin-left: 1150px;
    word-spacing: 15px;
    font-size: 20px;
    line-height: 40px;
    margin-top: -10px;
}
.b6{
    margin-left: 20px;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}
.b6:hover{
    color: rgb(161, 124, 29);
}
.para8{
    color: white;
    font-family: monospace;
    font-size: 17px;
    margin-left: 100px;
    font-weight: bold;
    word-spacing: -5px;
}
.B1:hover,.B2:hover{
    color: rgb(161, 124, 29);
}
.bold{
    margin-left: 500px;
}
.bold:hover{
    color: rgb(161, 124, 29);
}
.para{
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: -530px;
    font-family: "Rye", serif;
    line-height: 70px;
}
.div3{
    background-color: rgb(119, 96, 37);
    height: 60px;
    margin-top: 450px;
}
.u2{
    text-decoration: underline;
    text-underline-offset: 15px;
    font-size: 45px;
    color: rgb(79, 60, 13);
}
.BB{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: -110px;
    font-family: "Rye", serif;
}
.para2{
    font-size: 55px;
    color: white;
    text-align: center;
    font-family: "Finger Paint", sans-serif;
    color: rgb(86, 65, 13);
    margin-top: 50px;
}
.BB1{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: -70px;
    font-family: "Rye", serif;
    border-bottom: solid;
    width: 123px;
    padding-bottom: 2px;
    border-color: rgb(78, 59, 13);
    border-width: 5px;
    margin-left: 690px;
}
.para3{
    font-size: 35px;
    color: white;
    text-align: center;
    font-family: "Finger Paint", sans-serif;
    color: rgb(86, 65, 13);
    margin-top: 50px;
}
.imgg{
    width: 400px;
    height: 600px;
    margin-left: 550px;
}
.Para{
    color: black;
    margin-top: 100px;
}
.Imgg{
    width: 100%;
    height: 900px;
}